@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito';
    background-color: #f9f9f9;
}

#wrapper {
    width: 1200px; 
    margin: 0 auto; 
    background: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1046px;
    height: 64px;
    margin: 32px auto 0 auto;
    background: #ffffff;
    padding: 0 32px;
}


header h1{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.25rem; 
    text-transform: uppercase;
    color: #3E3F43;
}

header h1 img{
    width: 64px;
    height: 64px;
    margin-right: 12px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

nav ul li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 30px; 
    color: #612999;
}

nav ul li a:hover {
    font-style: bold;
    font-weight: 700;
}

.text-section {
    position:relative;
    width: 1200px;
    height: 797px;
    margin: 0 auto;
    z-index: 1;
}

.homePageBackgroundImg {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.text-content{
    position: absolute;
    z-index: 10;
    top: 120px;
    left: 32px;
    width: 448px;
}

.text-content h1 {
    font-size: 96px; 
    font-weight: 800;
    color: #612999;
    line-height: 100%;
    margin-bottom: 16px;
}

.hero-text-box p {
   font-size: 20px;
    line-height: 1.4;
    color: #333333;
}

.AboutSection{
    margin-top: 40px; 
    width: 1136px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
}

.AboutSection h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500; 
    font-size: 40px;   
    line-height: 40px; 
    color: #612999;     
    margin-bottom: 32px; 
}

.about-text{
    width: 1136px;
}

.about-text p {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;  
    font-size: 20px;    
    line-height: 1.41;  
    color: #333333;
    text-align: justify;
    margin-bottom: 24px; 
}